@import 'https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css';

input {
  display: inline-block !important;
  width: 400px;
}

li {
  cursor: pointer;
  user-select: none;
}
.done {
  text-decoration: line-through !important;
  font-weight: bold;
}
