@import 'https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css';

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

main {
  max-width: 600px;
  margin: 30px auto 150px;
}

input {
  display: inline-block !important;
  width: 400px;
}

li {
  cursor: pointer;
  user-select: none;
}
.done {
  text-decoration: line-through !important;
  font-weight: bold;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 30px;
  background: #fcfcfc;
  width: 100%;
  box-shadow: 0 0 3px #ccc;
}

footer button,
footer span {
  display: inline-block;
  margin-left: 15px;
}
